<div class="btn__slider">
  <input
    id="range__slider"
    type="range"
    min="1"
    max="100"
    value="0"
  />
  <p id="song__time">00:00</p>
</div>
<div class="btn__navigation">
  <button
    id="btn__previous"
    class="player__btn btn__navigation__control"
  >
    <i class="bx bx-skip-previous"></i>
  </button>
  <button
    id="btn__control"
    class="player__btn btn__navigation__control"
  >
    <i id="btn__toggle" class="bx bx-play"></i>
  </button>
  <button id="btn__next" class="player__btn btn__navigation__control">
    <i class="bx bx-skip-next"></i>
  </button>
</div>
