<!DOCTYPE html>
<html>
  <head>
    <title>API Get link Zing Mp3 NCT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
  </head>
  <body>


    index
    <a href="/readme">readme info</a>
   
    
    </body>
</html>
