<div class="player__nav">
  <button
    class="player__btn player__btn__playlist--toggle"
    onClick="playlistToggle()"
  >
    <i class="bx bxs-playlist"></i>
  </button>
  <button
    class="player__btn player__btn__playlist--toggle"
    onClick="changePlayList()"
  >
    <i class="bx bx-list-ul"></i>
  </button>
</div>
