<div class="playlist top100" id="top100">
  <div class="playlist__items">
    <div class="p__song-">
      <div class="p__song__info">
        <p class="p__song__info__title">Top 100 Nhạc Vpop Việt Nam</p>
      </div>
      <div class="p__song__icon">
        <button
          class="p__song__icon--play- player__btn"
          onclick="setPlayList(topNhac.topNhacVpopVN)"
        >
          <i class="bx bx-play"></i>
        </button>
      </div>
    </div>
  </div>
</div>
